@model LoginWM

@{
    ViewData["Title"] = "Erişim Engeli";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 text-center"> @ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <p>Erişim engellendi. Bu sayfaya giriş izniniz yoktur.</p>
    </div>
</div>