@{
    ViewData["Title"] = "Login";
}




<div class="row">
    <div class="col">
        @ViewData["Title"]
    </div>

</div>

<div class="row">
    <div class="col">
        <form>  
            <div class="form-group mb-4">
                <label class="form-label">Kullanıcı Adı</label>
                <input class="form-control" placeholder="kullanıcı adı giriniz" /> 
            </div>
            <div class="form-group mb-4">
                <label class="form-label">Şifre</label>
                <input class="form-control" placeholder="şifrenizi giriniz" />
            </div>
            <div class="form-group d-grid mb-4">
                <button type="submit" class="btn btn-primary d-block">Giriş Yap</button>
            </div>

        </form>
    </div>

</div>